{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="d-flex">

        <!-- filters -->
        <div class="col-md-2">
            <form method="get" class="form-inline mb-3">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        <!-- items -->
        <div class="col-md-9 offset-md-1">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Agent</th>
                    <th scope="col">Action</th>
                </tr>
                {% for lead in leads %}
                <tr class="align-middle">
                    <td>{{ lead.name }}</td>
                    <td>{{ lead.surname }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.phone_number }}</td>
                    <td>{{ lead.agent }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'lead' lead.id %}">Open</a>
                        <a class="btn btn-danger" href="{% url 'delete_lead' lead.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <a class="btn btn-primary" href="{% url 'add_lead' %}" role="button">Add Lead</a>
            <a class="btn btn-secondary" role="button" href="{% url 'home' %}">Home</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
